root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{py,js,jsx,mjs,cjs,ts,tsx,json,md,yml,yaml,toml}]
indent_style = space
indent_size = 2
max_line_length = 80

[*.py]
indent_size = 4

[Makefile]
indent_style = tab
